@font-face {
    font-family: Vazir;
    src: url('font/Vazir.eot');
    src: url('font/Vazir.eot?#iefix') format('embedded-opentype'),
    url('font/Vazir.woff2') format('woff2'),
    url('font/Vazir.woff') format('woff'),
    url('font/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Vazir FD";
    src: url('font/Vazir-FD.eot');
    src: url('font/Vazir-FD.eot?#iefix') format('embedded-opentype'),
    url('font/Vazir-FD.woff2') format('woff2'),
    url('font/Vazir-FD.woff') format('woff'),
    url('font/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
}